<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="userdao" class="dependency_injection.userDao.UserDao"></bean>
    <bean id="vipdao" class="dependency_injection.userDao.VipDao"></bean>
    <bean id="service" class="dependency_injection.Service.Service">
        <property name="userDao" ref="userdao"></property>
        <constructor-arg index="0" ref="vipdao"></constructor-arg>
    </bean>
</beans>